body {
  min-height: 100vh;
  background-image: url('../img/eva-blue-SfPOkp6-2eA-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 1rem 1.5rem;
}

.notices.is-top {
  margin-top: 1.5rem;
}

.notices.is-bottom {
  margin-bottom: 5rem;
}

//.fabric-list {
//  .card {
//    width: 30%;
//    flex-grow: 1;
//  }
//
//  display: flex;
//  flex-flow: row wrap;
//  gap: 1rem;
//}
