{% extends 'base.html.twig' %}

{% block body %}
    <script lang="ts">
        import User from "../assets/js/models/user";

        interface Window {
            user: User;
        }

        window.user = {{ user|raw }};
    </script>
    <div id="app"></div>
{% endblock %}
